<div id="openDeleteModal">
  <form action="" method="post">
    <h1>Open Modal</h1>
    <p>
      Apakah anda yakin ingin menghapus daftar buku
      <span id="bookTitle"></span> ?
    </p>
    <button type="button" onclick="return closeDeleteModal()">Close</button>
    <button type="submit">Yes</button>
  </form>
</div>
